.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.Time {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50pt;
  margin: 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Scramble-txt {
  margin: 7pt;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24pt;
}
.App-link {
  color: #61dafb;
}
.Start-button {
  font-size: 16pt;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #303642;
  color: #ffffff;
  margin: 20px;
  padding: 15px;
  border-width: 0px;
}
.Cancel-button {
  font-size: 16pt;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #303642;
  color: #c30909;
  margin: 20px;
  padding: 15px;
  border-width: 0px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
